In [65]:
import requests
from bs4 import BeautifulSoup
from time import sleep
import pandas as pd

In [66]:
def extract(page):
    url = f'https://in.indeed.com/jobs?q=python%20developer&start={page}'
    headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/97.0.4692.71 Safari/537.36'}
    r = requests.get(url, headers=headers)
    soup = BeautifulSoup(r.content, 'lxml')
    return soup

In [67]:
def transform(html_content):
    job_details = html_content.find_all('div', class_='slider_item')
    for job_detail in job_details:
        title = job_detail.h2.text
        company_name = job_detail.find('span', class_='companyName').text
        location = job_detail.find('div', class_='companyLocation').text
        salary = job_detail.find('div', class_='salary-snippet').text if job_detail.find('div', class_='salary-snippet') is not None else ''
        description = job_detail.find('div', class_='job-snippet').text.strip()
        post_date_ago = job_detail.find('span', class_='date').text.replace('Posted', '')
        job_dict = {
            'title': title,
            'company_name': company_name,
            'location': location,
            'salary': salary,
            'description': description,
            'post_date_ago': post_date_ago
        }
        job_list.append(job_dict)

In [68]:
job_list = []
for i in range(0, 371, 10):
    html_content = extract(i)
    transform(html_content)
    sleep(3)

In [69]:
len(job_list)

570

In [70]:
job_df = pd.DataFrame(job_list)
job_df

,title,company_name,location,salary,description,post_date_ago
0,Backend Developer,Design Everest,India•Remote,"₹12,00,000 - ₹16,00,000 a year",We have project experience of 6000+ Residentia...,30+ days ago
1,C++ & Python Developer,RiverEdge Analytics Pvt. Ltd.,"Ahmedabad, Gujarat","₹25,000 - ₹60,000 a month",We are a data analytics/financial analysis/eng...,30+ days ago
2,newFresher Software Developer,Agami Technologies Pvt. Ltd.,"Gautam Budh Nagar, Uttar Pradesh•Temporarily R...","₹13,000 - ₹21,000 a month",Hands on experience with JavaScript Developmen...,2 days ago
3,newPython Developer,iNFOX Technologies,"Kochi, Kerala+3 locations•Remote","₹12,000 - ₹18,000 a month",_Freshers_* are highly preferred for the post....,5 days ago
4,newPython Developer,TIKAJ Technologies Private Limited,Remote,"₹2,50,000 - ₹4,75,000 a year",0-2 years of experience as a Python developer....,5 days ago
...,...,...,...,...,...,...
565,Python Developer Junior,nutan enterprises,"Gurgaon, Haryana","₹1,50,000 - ₹2,50,000 a year","Working on Python development, in House Produc...",30+ days ago
566,Software Engineer,Siemens,"Noida, Uttar Pradesh",,We specialize in highly optimized and innovati...,30+ days ago
567,ReactJS Developer,Onpar Labs,"Bengaluru, Karnataka•Remote","₹55,000 - ₹65,000 a month",Work with business users to gather functional ...,EmployerActive 4 days ago
568,newFront End Developer,AlphaGrep Securities,"Mumbai, Maharashtra",,These factors are then coupled with our propri...,3 days ago
569,Microsoft Robotic Process Automation Applicati...,Accenture,"Hyderabad, Telangana+1 location",,Must Have Skills :Microsoft Robotic Process Au...,26 days ago